
<section class="vh-100" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div>
                
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Change Password</h5>

                                    <div class="form-outline mb-4">
                                        <input type="email" id="email" class="form-control form-control-lg" formControlName="email" />
                                        <label class="form-label" for="email">Email address</label>
                                        <div *ngIf="changePasswordForm.get('email')?.invalid && changePasswordForm.get('email')?.touched" class="text-danger">
                                            <small *ngIf="changePasswordForm.get('email')?.errors?.['required']">Email is required</small>
                                            <small *ngIf="changePasswordForm.get('email')?.errors?.['email']">Invalid email address</small>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="oldPassword" class="form-control form-control-lg" formControlName="oldPassword" />
                                        <label class="form-label" for="oldPassword">Old Password</label>
                                        <div *ngIf="changePasswordForm.get('oldPassword')?.invalid && changePasswordForm.get('oldPassword')?.touched" class="text-danger">
                                            <small *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']">Old password is required</small>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="newPassword" class="form-control form-control-lg" formControlName="newPassword" />
                                        <label class="form-label" for="newPassword">New Password</label>
                                        <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched" class="text-danger">
                                            <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">New password is required</small>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="confirmPassword" class="form-control form-control-lg" formControlName="confirmPassword" />
                                        <label class="form-label" for="confirmPassword">Confirm Password</label>
                                        <div *ngIf="changePasswordForm.get('confirmPassword')?.invalid && changePasswordForm.get('confirmPassword')?.touched" class="text-danger">
                                            <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">Confirm password is required</small>
                                            <small *ngIf="changePasswordForm.hasError('mismatch')">Passwords do not match</small>
                                        </div>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="submit">Change Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
