.single-story-card {
    padding: 16px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .stories-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
  }
  
  .story-item {
    display: inline-block;
    margin: 0 8px;
    cursor: pointer;
  }
  
  .story-thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
  }
  
  .story-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .story-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .story-overlay .popup-content {
    position: relative;
    width: 80%;
    max-width: 600px;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
  }
  
  .story-overlay .popup-content .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #000;
  }
  
  .story-image,
  .story-video {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .desc{
    // color: #000;
    font-size: large;
  }
  
  .modal-carousel .carousel-item {
   text-align: center;
}
  
.modal-carousel  .carousel-caption {
  bottom: -15px;
}
 
.modal-carousel  .desc {
  font-size: 16px;
  color: #fff;
  background-color: #0000007a;
  padding: 10px;
  display: inline-block;
}

.user-name h4 {
  font-size: 20px !important;
  font-weight: 500 !important;
}