.message-page {
    display: flex;
  }
  
  .message-list-card {
    margin-right: 20px;
    width: 25%;
    margin: 15px;
  }
  
  .message-detail {
    flex: 1;
    padding: 16px;
  }
  
  .message-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
  }

  .conversation-area {
    flex: 1; 
    padding: 16px;
}

mat-list-item {
  cursor: pointer;

  &:hover {
    background-color: #495fbe; 
  }
}