.boxes {
    height: 20vh;
    width: 44vw;
    background-color: blue;
  }
  
  .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5vw;
    grid-row-gap: 5px;
  }